:host {
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pin-list {
  margin: 0 48px;
  color: #fff;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    padding-bottom: 24px;

    &__name {
      width: 396px;
    }

    &__from {
      width: 183px;
    }
  }
}
