:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px;
}

.appart-name {
  color: #fff;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
