:host {
  display: flex;
  flex-direction: column;
}

.form-input {
  border-radius: 0px 4px 4px 0px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}

.form-input::before {
  content: "";
  position: absolute;
  height: 45px !important;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: darkblue;
  z-index: 9999;
  padding: 0;
}

.form-input input {
  width: 100%;
  height: 35px;
  border: none;
  box-sizing: border-box;
  color: #1f1f1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  margin-top: 9px;
}
